/* google-font-poppins-added */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*----------------------------
 banner part style start 
 ----------------------------*/
header {
    display: flex;
    justify-content: center;
}
.top-banner {
    display: flex;
    justify-content: center;
    gap: 50px;
    border-radius: 10px;
    height: auto;
    margin: 30px 0px;
    padding: 30px 0;
}
.top-banner .half-width {
    transition: transform 2s;
}
/* banner animation added */
.top-banner:hover .half-width {
    transform: translate(100px);
}


.top-banner, .blog-info>ul, footer {
    background-color: #161616;
}
.top-banner, .blog-container {
    width: 90vw;
}
.half-width {
    color: white;
    width: 40%;
}
.half-width h1 {
    margin: 0;
    font-size: 4vw;
}
.half-width h1::first-letter {
    font-size: 6vw;
    color: #DD0000;
}
.half-width img {
    width: 100%;
    height: 100%;
}
.watch-live-btn, .view-all-btn {
    background-color: #DD0000;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
}



/* -------------------
main part styling start
------------------------*/
main {
    display: flex;
    justify-content: center;
}
.blog-container {
    display: flex;
    gap: 20px;
}
.blog-info {
    min-width: 300px;
   text-align: center;
}
.blog-info>ul {
    border-radius: 10px;
    padding: 20px;
}
.blog-info ul li {
    list-style-type: none;
}
.blog-info ul li a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 10px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
}

article button {
    padding: 5px 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    font-size: 1.2em;
}
.all-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    width: auto;
}
article {
    padding: 10px;
    border: 1px solid lightslategray;
    border-radius: 5px;
}
article img {
    width: 100%;
}
.all-blogs span {
    color: gray;
    margin-right: 20px;
}
.view-all-btn {
    display: none;
}

/*----------------------------
 footer styling start 
 ----------------------------*/
footer {
    margin-top: 100px;
    padding: 50px;
}
footer h1 {
    color: white;
    text-align: center;
}
footer hr {
    color: rgba(255, 255, 255, 0.1);
}
footer ul {
    display: flex;
    justify-content: center;
}
footer ul li {
    list-style-type: none;
    color: lightcyan;
    margin: 10px;
}
.social-media-icon {
    text-align: center;
    color: lightcyan;
}
.social-media-icon i {
    font-size: 30px;
    margin: 0 30px;
}
/*----------------------------
 responsive for small device 
 -------------------------------*/
@media screen and (max-width:688px) {
    .top-banner {
        text-align: center;
        flex-direction: column;
        gap: 50px;
        padding: 100px;
    }
    .half-width {
        width: 100%;
    }
    .top-banner:hover .half-width {
        transform: translate(0, 30px);
     }
    .blog-container {
        flex-direction: column;
    }
    .blog-info>ul {
        background-color: white;
     }
    .all-blogs {
        grid-template-columns: 1fr;
        padding: 5px;
    }
    footer ul {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

}


/* responsive for medium device */

@media screen and (min-width:688px) and (max-width:992px) {
    .blog-container {
        flex-direction: column;
    }
    .blog-info ul {
        display: flex;
        justify-content: center;
        background-color: white;
        gap: 20px;
        padding: 0;
    }
    .blog-info ul li a{
        margin: 0;
    }
    .all-blogs {
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    .view-all-btn {
        display: block;
        margin: 0 auto;
    }
   footer ul {
    margin-right: 30px;
    flex-wrap: wrap;
   }
}
